.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}

.bx-shadow-black {
  box-shadow: 0px 10px 50px rgb(0,0,0,0.7);
}

.bx-shadow-white {
  box-shadow: 0px 10px 50px rgb(255,255,255);
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-transparent {
  color: transparent;
}

/* Tags for <button></button> */
.btn {
  padding: 5px;
  width: fit-content;
  font-family: sans-serif;
  border-radius: 6px;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #000;
}

/* Tags for <body></body> */
.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.dark-mode {
  background-color: #515151;
  color: white;
}

.light-mode {
  background-color: #fff;
  color: white;
}

hr {
  box-sizing: content-box;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

b, strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.medium {
  font-size: medium;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}

.large {
  font-size: large;
}

.larger {
  font-size: larger;
}

.x-large {
  font-size: x-large;
}

.xx-larger {
  font-size: xx-large;
}
